RewriteEngine On

RewriteRule ^accueil$ accueil.php
RewriteRule ^.{0}$ index.php
RewriteRule ^factures$ view/facture/liste.php
RewriteRule ^reglements$ view/reglement/liste.php

RewriteRule ^reglementController$ controller/reglementController.php
RewriteRule ^factureController$ controller/factureController.php